.Rproj.user
.Rhistory
.RData
.Ruserdata
~$RQ1UserTabelle.xlsx
.RDataTmp6
.RDataTmp7
.RDataTmp8
.RDataTmp9
.RDataTmp10
.RDataTmp11
.RDataTmp12
.RDataTmp13
.RDataTmp14
.RDataTmp15
.RDataTmp16
.RDataTmp17
.RDataTmp18
.RDataTmp19
.RDataTmp20
.RDataTmp21
.RDataTmp22
.RDataTmp23
.RDataTmp24
.RDataTmp25
.RDataTmp26
.RDataTmp27
.RDataTmp28
.RDataTmp29
.RDataTmp30
.RDataTmp31
.RDataTmp32
.RDataTmp33
.RDataTmp34
.RDataTmp35
.RDataTmp36
.RDataTmp37
.RDataTmp39
.RDataTmp40
.RDataTmp41
.RDataTmp42
.RDataTmp45
.RDataTmp46
.RDataTmp47
.RDataTmp48
.RDataTmp49
.RDataTmp50
.RDataTmp51
.RDataTmp52
